body{
  background-image: url("../img/test.jpg");
  background-size: 486px 300px;
}

.centering
{
  width:100%;
  text-align:center;
  background-color: gray;
}

.sidebar
{
  margin:5px;
  padding:20px;
  width:30%;
  float:right;
  background-color: black;
  font-size:20px;
}

.pic-margin
{
  margin-left:20%;
}
