body{
  background-image: url("../img/test.jpg");
  background-size: 486px 300px;
}

.centering
{
  width:100%;
  text-align:center;
  background-color: gray;
}

.sidebar
{
  margin:40px;
  padding:20px;
  width:40%;
  float:right;
  background-color: black;
  font-size:25px;
}

.pic-margin
{
  margin-left:15%;
}

.row{
  background-color:white;
  text-align:center;
  font-size:20px;
}

.textblock
{
  border: 2px solid yellow;
  background-color:white;
  font-size:20px;
}

.row{
  outline:1px solid black;
}

div[class~=col] {
  outline:1px solid black;
}
